*{
    box-sizing: border-box;
}
body{
    background-color: aquamarine;
    text-align: center;
}
h1{
    text-align: center;
    font-weight: bold;
}
p{
    text-align: center;
}
* {
    box-sizing: border-box;
  }
  
  .column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
    
  }
  .img:hover{
      background-color: darkcyan;
  }